SSAWebForms/Connected Services/ServiceReference/SearchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SearchService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52100/SearchService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52100/SearchService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52100/SearchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AugmentService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISearchService_Part_InputMessage">
    <wsdl:part name="parameters" element="tns:Part" />
  </wsdl:message>
  <wsdl:message name="ISearchService_Part_OutputMessage">
    <wsdl:part name="parameters" element="tns:PartResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchService_FindAugID_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAugID" />
  </wsdl:message>
  <wsdl:message name="ISearchService_FindAugID_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAugIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchService_GetAug_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAug" />
  </wsdl:message>
  <wsdl:message name="ISearchService_GetAug_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAugResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchService_EditAug_InputMessage">
    <wsdl:part name="parameters" element="tns:EditAug" />
  </wsdl:message>
  <wsdl:message name="ISearchService_EditAug_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditAugResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchService_NewPart_InputMessage">
    <wsdl:part name="parameters" element="tns:NewPart" />
  </wsdl:message>
  <wsdl:message name="ISearchService_NewPart_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewPartResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchService_AddNewPart_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewPart" />
  </wsdl:message>
  <wsdl:message name="ISearchService_AddNewPart_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewPartResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ISearchService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ISearchService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchService_Registered_InputMessage">
    <wsdl:part name="parameters" element="tns:Registered" />
  </wsdl:message>
  <wsdl:message name="ISearchService_Registered_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisteredResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ISearchService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchService_Allbodyparts_InputMessage">
    <wsdl:part name="parameters" element="tns:Allbodyparts" />
  </wsdl:message>
  <wsdl:message name="ISearchService_Allbodyparts_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllbodypartsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISearchService">
    <wsdl:operation name="Part">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/Part" message="tns:ISearchService_Part_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/PartResponse" message="tns:ISearchService_Part_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAugID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/FindAugID" message="tns:ISearchService_FindAugID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/FindAugIDResponse" message="tns:ISearchService_FindAugID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAug">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/GetAug" message="tns:ISearchService_GetAug_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/GetAugResponse" message="tns:ISearchService_GetAug_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditAug">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/EditAug" message="tns:ISearchService_EditAug_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/EditAugResponse" message="tns:ISearchService_EditAug_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewPart">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/NewPart" message="tns:ISearchService_NewPart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/NewPartResponse" message="tns:ISearchService_NewPart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewPart">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/AddNewPart" message="tns:ISearchService_AddNewPart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/AddNewPartResponse" message="tns:ISearchService_AddNewPart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/Login" message="tns:ISearchService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/LoginResponse" message="tns:ISearchService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/GetUser" message="tns:ISearchService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/GetUserResponse" message="tns:ISearchService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registered">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/Registered" message="tns:ISearchService_Registered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/RegisteredResponse" message="tns:ISearchService_Registered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/Register" message="tns:ISearchService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/RegisterResponse" message="tns:ISearchService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Allbodyparts">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/Allbodyparts" message="tns:ISearchService_Allbodyparts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/AllbodypartsResponse" message="tns:ISearchService_Allbodyparts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISearchService" type="tns:ISearchService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Part">
      <soap:operation soapAction="http://tempuri.org/ISearchService/Part" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAugID">
      <soap:operation soapAction="http://tempuri.org/ISearchService/FindAugID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAug">
      <soap:operation soapAction="http://tempuri.org/ISearchService/GetAug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditAug">
      <soap:operation soapAction="http://tempuri.org/ISearchService/EditAug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewPart">
      <soap:operation soapAction="http://tempuri.org/ISearchService/NewPart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewPart">
      <soap:operation soapAction="http://tempuri.org/ISearchService/AddNewPart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ISearchService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/ISearchService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registered">
      <soap:operation soapAction="http://tempuri.org/ISearchService/Registered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/ISearchService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Allbodyparts">
      <soap:operation soapAction="http://tempuri.org/ISearchService/Allbodyparts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchService">
    <wsdl:port name="BasicHttpBinding_ISearchService" binding="tns:BasicHttpBinding_ISearchService">
      <soap:address location="http://localhost:52100/SearchService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>